@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

//RESET
@import "./base/reset";

//VARIABLES
@import "./abstracts/variables";

//FOOTER
@import "./layout/footer";

//HEADER
@import "./layout/header";

//NAVBAR
@import "./layout/navbar";

//PAGE HOME
@import "./pages/home";

//PAGE ESTUDIOS
@import "./pages/estudio";


/*** ETIQUETAS PRINCIPALES ***/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color-secundario;
    background-color: $color-tercero;
}
.grid-index {
    display: grid;
    grid-template-areas:
        "header header header"
        "h1 h1 h1"
        "imgportada imgportada imgportada"
        "boton-portada boton-portada boton-portada"
        "acerca acerca imgacerca"
        "benef benef benef"
        "titulocoach titulocoach titulocoach"
        "footer footer footer";
    grid-template-columns: 300px 3fr 1fr;
    grid-template-rows: auto 120px 80vh 100px auto auto auto 100px;
}
h1 {
    font-size: 45px;
    text-align: center;
    color: $color-primario;
    grid-area: h1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
}
h2 {
    font-size: 30px;
    text-align: center;
    color: $color-primario;
    padding-bottom: 10px;
}
p {
    font-size: 16px;
}
a {
    text-decoration: none;
    color: $color-secundario;
}
h4 {
    text-align: center;
}
/*** FIN ESTILOS ETIQUETAS PRINCIPALES ***/

/*** BOTONES***/
.boton {
    background-color: $color-primario;
    color: $color-secundario;
    border-style: none;
    width: 200px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: bold;
}

/*** INSTRUCTORES STYLE***/
.main-grid-instructor {
    display: grid;
    grid-template-areas:
        "header header header"
        "h1 h1 h1"
        "row1 row1 aside"
        "row2 row2 aside"
        "btn-conocenos btn-conocenos btn-conocenos"
        "footer footer footer";
    grid-template-columns: auto 1fr 0.5fr;
    grid-template-rows: 80px 120px auto auto 100px 100px;
}

.row1 {
    grid-area: row1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    padding: 20px;
}

.row2 {
    grid-area: row2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    padding: 20px;
}

aside {
    grid-area: aside;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    padding: 20px;
}

.instructores {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: $color-primario;
    border-radius: 10px;
    margin: 5px;
    align-items: center;
    padding-top: 15px;
}

.instructores2 {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: $color-secundario;
    color: $color-primario;
    margin: 5px;
    border-radius: 10px;
    align-items: center;
    padding-top: 15px;
}

.tamImgInst {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding: 5px;
}

#tamImgInstMen {
    width: 230px;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
}

.parrafoInstru {
    text-align: center;
}

.btn-conocenos {
    grid-area: btn-conocenos;
    height: auto;
}


/*** HORARIOS STYLES***/
.portadaHorario {
    margin-top: 10px;
    width: auto;
    height: 50%;
    padding-right: 50px;
    padding-left: 50px;
    margin: auto;
}

.horariosH2 {
    text-align: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contenedores {
    padding-top: 40px;
    padding-bottom: 40px;
}

.sectionHorarioEspacio {
    padding-bottom: 50px;
    padding-top: 100px;
}

.horarios-h3 {
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}


/*** CONTACTO STYLES- aplicacion de gradiente***/
.mapa {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.contenedor-contacto{
    background: linear-gradient(to top, rgba(251, 251, 218, 0.452), rgba(226, 225, 195, 0.644), rgba(251, 251, 218, 0.452));
}

/*** APLICANDO SCSS EN MY WEB***/
.botonInstructores {
    padding: 15px;

    .btnInstruct {
        width: 200px;
        height: 50px;
        background-color: $color-primario;
        color: $color-secundario;
        border-style: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        font-size: 16px;
        font-weight: bold;
    }
}

.boton-enviar {
    width: 200px;
    height: 50px;
    background-color: $color-primario;
    color: $color-secundario;
    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: bold;

    & :hover{
        background-color: black;
        color: white;
    }     
}