@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

//RESET
@import "./base/reset";

//VARIABLES
@import "./abstracts/variables";

//FOOTER
@import "./layout/footer";

//HEADER
@import "./layout/header";

//NAVBAR
@import "./layout/navbar";

//PAGE HOME
@import "./pages/home";

//PAGE ESTUDIOS
@import "./pages/estudio";

//PAGE INSTRUCTORES
@import "./pages/instructores";

//PAGE HORARIOS
@import "./pages/horario";

//PAGE CONTACTO
@import "./pages/contacto";

//Estilos principales del html
@import "./pages/principales";


/*** APLICANDO SCSS EN MY WEB***/
.botonInstructores {
    padding: 15px;

    .btnInstruct {
        width: 200px;
        height: 50px;
        background-color: $color-primario;
        color: $color-secundario;
        border-style: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        font-size: 16px;
        font-weight: bold;
    }
}

.boton-enviar {
    width: 200px;
    height: 50px;
    background-color: $color-primario;
    color: $color-secundario;
    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: bold;

    & :hover{
        background-color: black;
        color: white;
    }     
}