.boton-portada {
    grid-area: boton-portada;
    padding-top: 30px;
}

/*** ACERCA DE***/
.acerca {
    color: $color-tercero;
    background-color: $color-secundario;
    padding: 20px;
    padding-top: 50px;

    .parrafo-acerca {
        height: 0 auto;
        margin: 5px;
        text-align: justify;
        /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;*/
    }
    .acercaInfo {
        padding: 10px;
        margin: 10px;

        .imgBenefit {
            width: 500px;
            height: 0 auto;
            display: flex;
            margin: 0 auto;
            padding: 10px 10px 10px 10px;
        }
    }
}

#boton-acerca {
    padding-top: 30px;
}

/*.imgacerca {
    color: $color-tercero;
    background-color: $color-secundario;
    grid-area: imgacerca;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    justify-content: center;
}*/

/*** BENEFICIOS***/
.beneficiosSeccion {
    background-color: $color-tercero;
    color: $color-secundario;
    padding-top: 50px;

    .container-beneficios {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
        margin-top: 50px;

        .beneficios {
            width: 250px;
            height: 250px;
            text-align: center;
        }
        .tamanoImg {
            width: 150px;
            height: 150px;
        }
        
    }
}


/*** COACH***/
.coachSeccion {
    background-color: $color-secundario;
    color: $color-tercero;
    padding: 20px;

    .parrafoCoach {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 40px;
        margin: 10px;
        text-align: center;
    }

    .container-coaches {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 30px;
        height: auto;

        .coach {
            width: 250px;
            height: 250px;
            text-align: center;

            .tamanoImg2 {
                width: 230px;
                height: 230px;
                border-radius: 10px;
            }
            .textoCoach {
                padding-bottom: 30px;
                font-size: 20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-style: oblique;
                text-align: center;
            }
        }
    }
    
}

#boton-coach {
    padding-top: 20px;
}